# Theme Name: Crunchy 
# By: Thomas Pfeifer (tpchuckles(at)gmail.com)
# Platform: iPod Video (320x240x16)
# Version: 0.1
# Licenced CC-BY-SA 3.0
# Code based on Crisp by P Poorten (https://themes.rockbox.org/index.php?themeid=2724&target=ipodvideo), which is based on Crisp by Jack Yi (https://themes.rockbox.org/index.php?themeid=1570&target=sansafuzev2). 
# I made some slight changes to make things play nice with the larger (now default) 18-Terminus font, and I moved some things around based on personal preferences. (Red is now the default color universally (editable via Foreground Color) instead of the white/yellow stuff from Crisp. Volume is now lower left on WPS. Battery position is adjusted for the font. Clock time is now upper right). 
# Last updated: 2025/04/29

wps: /.rockbox/wps/Crunchy.wps
sbs: /.rockbox/wps/Crunchy.sbs
fms: /.rockbox/wps/Crunchy.fms
backdrop: -
font: /.rockbox/fonts/18-Terminus.fnt
foreground color: FF0000
background color: 000000
selector type: bar (inverse)
statusbar: custom
scrollbar: off
ui viewport: -
