#Theme Name: Cute
#By: P Poorten
#Licenced CC-BY-SA 3.0
# based on the screenshot of cute-music-player by Daniel post (@DahnDesigns) from purtypixels.com
# Quote: "All resources made available on Purty Pixels, including but not limited to, layered PSD files, icons, backgrounds, images, photographs, templates, shapes, layer styles, patterns, textures, web elements and themes are absolutely and most spectacularly free for use in both your personal and awesome commercial projects."
#320x240 for ipod classic/video
#Jan 2020
wps: /.rockbox/wps/Cute.wps
sbs: -
backdrop: /.rockbox/backdrops/Cute.bmp
statusbar: top
scrollbar: left
scrollbar width: 4
show icons: on
foreground color: ffffff
background color: 000000
line selector start color: 9C1010
line selector end color: 9C1010
line selector text color: ffffff
selector type: bar (gradient)
font: /.rockbox/fonts/14-NotoSans-Regular.fnt
iconset: /.rockbox/icons/oxygen_small.bmp 
viewers iconset: /.rockbox/icons/oxygen_small.bmp

