# ===========================================================
# GreyT2
# Original Design and concept by jeanreno
# Original Coding by Chrimson
# ===========================================================
# Released to the Public Domain February 25th 2006
# Distribute and modify as you see fit, all I ask
# is that you keep this credit in place. Thanks. :)
#
# Amended for ipod classic/video August 2015
# by P Poorten
# License: Creative Commons Attribution-ShareAlike License 3.0 (http://creativecommons.org/licenses/by-sa/3.0/)
# Jan 2019 V1.1 of ipod version, new higher-res icons based on ones from ubuntu breath-media icons via wikimedia commons
# V1.2 improved volume slider to be smoother and clearer
#      restored, and remade and improved, battery indicator.  For some reason the original version included bitmaps but the relevant line was commented out.  Not sure why.  Decided to put it back.
#
# GreyT2 - new version by forum user request, adds new sbs screen, changes font on wps Sep 2019
#
backdrop: /.rockbox/Backdrops/Greyt2.bmp
wps: /.rockbox/wps/Greyt2.wps
sbs: /.rockbox/wps/Greyt2.sbs
font: /.rockbox/fonts/14-DejaVuSans.fnt
background color: 000000
statusbar: off
line selector start color: 555555
line selector end color: 111111
selector type: bar (gradient)
iconset: /.rockbox/icons/tango_small_grey.bmp 
viewers iconset: /.rockbox/icons/tango_small_grey_viewers.bmp
show icons: off
line selector text color: FFFFFF
foreground color: DDDDDD
scrollbar: off
ui viewport: -,-,-,-,-,-,-
