# Theme by:chronicallyoffline/Cicumpunct Δ
# CC-BY-SA
# Credits to: chronicallyoffline for the theme he created, Chuck Lardo and D0-0K for inspiration and assets reused under CC-BY-SA and GPL V3 respectively,
# Cicumpunct Δ
# Date: 05-24-2025

wps: /.rockbox/wps/ONE_BIT_PG_VFD.wps
sbs: /.rockbox/wps/ONE_BIT_PG_VFD.sbs
#selector type: bar (solid color)
line selector start color: 000000
line selector end color: 000000
line selector text color: B5FF00
filetype colours: -
foreground color: 7b007b
background color: 000000
font: /.rockbox/fonts/14-LanaPixel.fnt
statusbar: off
scrollbar: off
battery display: graphical
show icons: on
iconset: /.rockbox/icons/modone.bmp
viewers iconset: /.rockbox/icons/modone_viewer.bmp
ui viewport: -