# Theme by:chronicallyoffline/Cicumpunct Δ/Its_Just_Luck
# CC-BY-SA
# Credits to: chronicallyoffline for the theme he created, Its_Just_Luck, Chuck Lardo and D0-0K for inspiration and assets reused under CC-BY-SA and GPL V3 respectively,
# Cicumpunct Δ/its_just_luck
# Date: 06-5-2025

wps: /.rockbox/wps/OneBit_GEIGER.wps
sbs: /.rockbox/wps/OneBit_GEIGER.sbs
selector type: bar (solid color)
line selector start color: 121a00
line selector end color: 121a00
line selector text color: ff2400
filetype colours: -
foreground color: B5FF00 
background color: 121a00
font: /.rockbox/fonts/14-LanaPixel.fnt
statusbar: off
scrollbar: off
battery display: graphical
show icons: on
iconset: /.rockbox/icons/modone.bmp
viewers iconset: /.rockbox/icons/modone_viewer.bmp
ui viewport: -