# Theme by:chronicallyoffline/Cicumpunct Δ
# CC-BY-SA
# Credits to: chronicallyoffline for the theme he created, Chuck Lardo and D0-0K for inspiration and assets reused under CC-BY-SA and GPL V3 respectively,
# Cicumpunct Δ
# Date: 05-24-2025

wps: /.rockbox/wps/OneBit_TRYPOD_ALT.wps
sbs: /.rockbox/wps/OneBit_TRYPOD_ALT.sbs
selector type: bar (gradient)
line selector start color:ff0018
line selector end color: 390000
line selector text color: ffffff
filetype colours: -
foreground color: ffffff
background color: 000000
font: /.rockbox/fonts/14-LanaPixel.fnt
statusbar: off
scrollbar: off
scrollbar width:8
battery display: graphical
show icons: on
iconset: /.rockbox/icons/modone.bmp
viewers iconset: /.rockbox/icons/modone_viewer.bmp
ui viewport: -