# Theme by:chronicallyoffline/Cicumpunct Δ/Its_Just_Luck
# CC-BY-SA
# Credits to: chronicallyoffline for the theme he created, Its_Just_Luck, Chuck Lardo and D0-0K for inspiration and assets reused under CC-BY-SA and GPL V3 respectively,
#Its_Just_Luck/Cicumpunct Δ
# Date: 06-5-2025

wps: /.rockbox/wps/OneBit_VFD_ALT.wps
sbs: /.rockbox/wps/OneBit_VFD_ALT.sbs
#selector type: bar (solid color)
line selector start color: 000000
line selector end color: 000000
line selector text color: ffffff
filetype colours: -
foreground color: 676767
background color: 000000
font: /.rockbox/fonts/14-LanaPixel.fnt
statusbar: off
scrollbar: off
battery display: graphical
show icons: on
iconset: /.rockbox/icons/modone.bmp
viewers iconset: /.rockbox/icons/modone_viewer.bmp
ui viewport: -