# Theme by:chronicallyoffline/Cicumpunct Δ
# CC-BY-SA
# Credits to: chronicallyoffline for the theme he created, Chuck Lardo and D0-0K for inspiration and assets reused under CC-BY-SA and GPL V3 respectively,
# Cicumpunct Δ
# Date: 05-24-2025

selector type: bar (inverse)
statusbar: off
scrollbar: off
scrollbar width: 8
volume display: graphic
battery display: numeric
foreground color: 000000
background color: ffffff
font: /.rockbox/fonts/14-LanaPixel.fnt
wps: /.rockbox/wps/OneBitMono2.wps
sbs: /.rockbox/wps/OneBitMono2.sbs
backdrop: -
iconset: /.rockbox/icons/modone.bmp
viewers iconset: /.rockbox/icons/modone_viewer.bmp
filetype colours: -
ui viewport: -