# Theme by:chronicallyoffline/Cicumpunct Δ
# CC-BY-SA
# Credits to: chronicallyoffline for the theme he created, Chuck Lardo and D0-0K for inspiration and assets reused under CC-BY-SA and GPL V3 respectively,
# Cicumpunct Δ
# Date: 05-24-2025

wps: /.rockbox/wps/OneBit_TRYPOD.wps
sbs: /.rockbox/wps/OneBit_TRYPOD.sbs
selector type: bar (gradient)
line selector start color: 0051de
line selector end color: 000c63
line selector text color: ffffff
filetype colours: -
foreground color: 000000
background color: c6b6b5
font: /.rockbox/fonts/14-LanaPixel.fnt
statusbar: off
scrollbar: off
scrollbar width:8
battery display: graphical
show icons: on
iconset: /.rockbox/icons/modone.bmp
viewers iconset: /.rockbox/icons/modone_viewer.bmp
ui viewport: -