#
#__OP_1
#__by__CHUCK_LARDO
#__licence__CC-BY-SA 4.0
#__version__1.0
#__2025
#__target resolution 320x240
#__tested on iPod Classic
#
#
#__CFG File
#
#
wps: /.rockbox/wps/OP_1.wps
#
background color: 000000
foreground color: ffffff
font: /.rockbox/fonts/14-Terminus.fnt
ui viewport: -
statusbar: off
