# Theme:SlateyPod
# Version:1.0
# Device:ipod video
# Adapted by: Eamon Halpin
# License: CC-BY-SA

wps: /.rockbox/wps/SlateyPod2.wps
sbs: /.rockbox/wps/SlateyPod2.sbs
font: /.rockbox/fonts/19-Inter-V-padded.fnt
background color: 575757
foreground color: 8b8b8b
ui viewport: -
statusbar: off
scrollbar: off
show icons: off
selector type: pointer
filetype colours: -

