#Theme Name: TerminalTwo
#Platform: iPod Video (320x240x16) - Standard Build
#
#closely Derived from theme terminal
#Which was created By: Jeffrey Rodriguez (jtrodriguez on Forums)
#License CC-BY-SA
#
#Notes (of terminal): The layout is based on the ncurses VLC player
#If you want to see your AA after hold is toggled set the backlight on hold setting to normal so there is a delay.
#
# T2 is just a small modification of 'terminal' in order to allow (foreground/background) colours to be changed on-the-fly via rockbox settings menu rather than needing to edit the wps
# by P Poorten Feb 2017
# otherwise looks/acts identical to original
# defaults to the original green-on-black
# Jan 2019 added the word 'HOLD' to menu screen when on hold (still switches between time and battery, but added the word HOLD to make it more explicit)
# also fixed the little sliver of title bar background that was missing at the rhs of the screen

wps: /.rockbox/wps/TerminalTwo.wps
sbs: /.rockbox/wps/TerminalTwo.sbs

font: /.rockbox/fonts/15-Adobe-Helvetica.fnt
selector type: bar (inverse)
statusbar: custom
scrollbar: off
show icons: off
foreground color: 55ff00
background color: 000000
