# Theme:WMP11
# Version:1.0 (3/20/2025)
# Device: iPod Video
# License: CC-BY-SA
# Creator: VB
#
#
# Credits to other creators:
# This theme wouldn't have been possible without the earlier work of:
# creators of ipodmod3blk (K4sum1), ipodmod3blkfixed (Paul Sauro),
# adwaitapod (evan Dook), iRetro (J Donsen), iPod reFresh (Ciprian Dragu)
# For the battery, hold, and disk access icons, credits to K4sum1
# For the concept, credits to Microsoft.. but everyone already knows this lol
# Thank you so much for all the support this theme received on Reddit!
# I hope you enjoy it :) <3
# Credits to evan Dook for the base of this theme file
# For suggestions/requests/other inquiries, dm me on Reddit: u/suzdali


sbs: /.rockbox/wps/wmp11.sbs
wps: /.rockbox/wps/wmp11.wps
font: /.rockbox/fonts/18-segoe-ui.fnt
selector type: bar (gradient)
foreground color: f0ffff
background color: 292829
line selector start color: 147790
line selector end color: 43b9db
line selector text color: ffffff
show icons: off
ui viewport: -
backdrop: -
#------ User Config Settings ------#
#-- Scroll Bar Toggle --#
# Options: Off, Left, Right.
scrollbar: off
#
#-- Player Secondary Text Toggle --#
# off: Switch between Album and Artist names. <-- Default
# top: Show only Album name.
# bottom: Show only Artist name.
statusbar: off
#
#-- Album Corners Toggle --#
# graphic: Rounded Corners. <-- Default
# numeric: Square Corners.
volume display: graphic
#
#-- Lockscreen in Player Screens --#
# graphic: Lockscreen/AOD On in Players. <-- Default
# numeric: No Lockscreen/AOD in Players.
battery display: graphic
#
#-- Backlight on Hold/Lockscreen Style --#
# normal: Lockscreen, normal backlight behaviour. <-- Default
# off: Always on Display, backlight always off.
# on: Lockscreen, backlight always on.
#backlight on button hold: normal
#
#-- Experimental Custom Quickscreen --#
# Remove the # from the following to activate Custom Quickscreen.
#qs top: brightness
#qs bottom: brightness
#qs left: shuffle
#qs right: repeat
#
#-- Smooth Scrolling --#
# Remove the # from the following to turn on smooth scrolling text.
#scroll speed: 14
#scroll delay: 1500
#scroll step: 1
